<div class="sliderarea">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <div class="slider_textarea">

                    <div class="slider_text">
                        <div class="slider_textareainner">
                            Your healthcare with <br />
                            you anytime, anywhere
                            <div class="slider_textsmalltop">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry's standard dummy
                            </div>

                            <div class="slider_btnarea">
                                <a class="ancorbtn" href=""> Read More </a>
                            </div>

                        </div>
                    </div>
                </div>
                <img src="/images/sliderbanner.jpg" alt="img" />
            </li>

            <li>
                <div class="slider_textarea">

                    <div class="slider_text">
                        <div class="slider_textareainner text_color ">
                            BT Medical devices
                            <div class="slider_textsmalltop">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                                been the industry's standard dummy
                            </div>

                            <div class="slider_btnarea">
                                <a class="ancorbtn" href="#btdivces"> Enquire </a>
                            </div>

                        </div>
                    </div>
                </div>
                <img src="/images/bg.jpg" alt="img" />
            </li>



        </ul>
    </div>
</div>