@using MyOnlineClinic.Web.Controllers
<!-- FOOTER -->
<footer class="footer">
    <div class="footer_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div data-effect="slide-left">
                        <div class="footer_col">
                            <h5>Address</h5>
                            <div class="footer_address">
                                <ul>
                                    <li>
                                        <span class="address_icon"><i class="fa fa-map-marker"></i></span>
                                        <span class="address_text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
                                        </span>
                                    </li>

                                    <li>
                                        <span class="address_icon"><i class="fa fa-phone-square"></i></span>
                                        <span class="address_text">
                                            1300 900 863
                                        </span>
                                    </li>

                                    <li>
                                        <span class="address_icon"><i class="fa fa-envelope"></i></span>
                                        <span class="address_text">
                                            <a href=""> Lorem ipsum dolor sit amet, consectetur </a>
                                        </span>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="footer_col">
                        <h5>Contact us</h5>

                        <div class="footer_form">
                            <ul>
                                <li><input type="text" placeholder="Name"></li>
                                <li><input type="text" placeholder="Name"></li>
                                <li> <textarea placeholder="Message"></textarea>  </li>
                                <li><input type="submit" value="Submit"> </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div data-effect="slide-right">
                        <div class="footer_col">
                            <h5>App is no available</h5>
                            <div class="footer_logo">
                                <ul>
                                    <li> <img src="/images/footerlogo1.png" alt="img"> </li>
                                    <li> <img src="/images/footerlogo1.png" alt="img"> </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright"><i class="fa fa-copyright"></i> lorem ipsum </div>
                </div>
            </div>

        </div>
    </div>
</footer>