@using Microsoft.AspNet.Identity
@using MyOnlineClinic.Web.Models
@{
    var userModel = ViewBag.LoginUserModel as LoginUserViewModel;
    
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new{area=""}, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + userModel.FullName + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registar", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink",@class="btn btn-primary" })</li>
        <li>@Html.ActionLink("Entrar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink",@class="btn btn-primary" })</li>        
    </ul>
}
