
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Myonlineclinic</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/slimmenu.css" rel="stylesheet" />
    <link href="/css/flexslider.css" rel="stylesheet" />
    <link href="/css/owl.carousel.min.css" type="text/css" rel="stylesheet" />
    <link href="/css/owl.theme.default.min.css" type="text/css" rel="stylesheet" />

    <link href="/fonts/css/font-awesome.css" type="text/css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600,700' rel='stylesheet' type='text/css'>
    <script>
        NProgress.start();
    </script>
</head>
<body>
 
    <div id="toTop">TOP</div>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="logo"> <a href=""> <img src="/images/logo.png" alt="img"> </a>  </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-9">
                    <div class="menuarea">
                        <ul class="slimmenu">
                            <li class="active"><a href="#" title="">Home</a> </li>
                            <li><a href="#" title="">Features</a> </li>
                            <li><a href="#" title=""> How it Works</a> </li>
                            <li><a href="#" title="">BT Medical devices</a> </li>
                            <li><a href="#" title="">Pricing</a> </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-3">
                    <div class="rightnav">
                        <ul>
                            <li><a href="#" title="">Login</a> </li>
                            <li class="active"><a href="#" title="">Register</a> </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Body">
        @RenderBody()

    </div>

    <div class="clearfix"></div>
    <div class="footer_area">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div data-effect="slide-left">
                        <div class="footer_col">
                            <h5>Address</h5>
                            <div class="footer_address">
                                <ul>
                                    <li>
                                        <span class="address_icon"><i class="fa fa-map-marker"></i></span>
                                        <span class="address_text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.
                                        </span>
                                    </li>

                                    <li>
                                        <span class="address_icon"><i class="fa fa-phone-square"></i></span>
                                        <span class="address_text">
                                            1300 900 863
                                        </span>
                                    </li>

                                    <li>
                                        <span class="address_icon"><i class="fa fa-envelope"></i></span>
                                        <span class="address_text">
                                            <a href=""> Lorem ipsum dolor sit amet, consectetur </a>
                                        </span>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="footer_col">
                        <h5>Contact us</h5>

                        <div class="footer_form">
                            <ul>
                                <li><input type="text" placeholder="Name"></li>
                                <li><input type="text" placeholder="Name"></li>
                                <li> <textarea placeholder="Message"></textarea>  </li>
                                <li><input type="submit" value="Submit"> </li>

                            </ul>

                        </div>


                    </div>

                </div>

                <div class="col-sm-4">
                    <div data-effect="slide-right">
                        <div class="footer_col">
                            <h5>App is no available</h5>

                            <div class="footer_logo">
                                <ul>
                                    <li> <img src="/images/footerlogo1.png" alt="img"> </li>
                                    <li> <img src="/images/footerlogo1.png" alt="img"> </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>




            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright"><i class="fa fa-copyright"></i> lorem ipsum </div>


                </div>


            </div>


        </div>
    </div>
   
    <script src="/js/include_script.js"></script>




    <script>
        NProgress.done();
    </script>





    <!-- Include all compiled plugins (below), or include individual files as needed -->

</body>
</html>

