@using MyOnlineClinic.Web.Controllers

<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="col">
                    <h4>Distritos</h4>
                    @*@{Html.RenderAction("Distrito", "Home");}*@
                    @*<ul>
                            <li><a href="http://www.events-zone.com">eventos</a><br /></li>
                            <li><a href="http://www.associapro.com">associapro</a><br /></li>
                            <li><a href="http://www.faturapro.com">faturapro</a></li>
                        </ul>*@
                </div>
            </div>

            <div class="col-md-3">
                <div class="col">
                    <h4>Portugal biz no mundo</h4>
                    @*@{Html.RenderAction("GetCountriesforFooter", "Home");}*@
                </div>
            </div>

            <div class="col-md-3">
                <div class="col">
                    <h4>Institutional</h4>
                   
                    
                    <ul>
                        <li><a href="/Condicoes">Condições de Utilização</a><br /></li>
                        <li><a href="/Privacidade">Política de Privacidade</a><br /></li>
                        <li><a href="/Acerca">Acerca do Portugalbiz</a></li>
                        <li><a href="/Faq">Faq</a></li>
                        <li><a href="/Contactos">Contactos</a></li>
                    </ul>
                    @*<ul>
                            <li><a href="/Account/register">registar empresas</a><br /></li>
                            <li><a href="/Account/register">registar particulares</a><br /></li>
                            <li><a href="/Contactos">publicidade</a></li>
                            <li><a href="/Account/Login">rede de negócios</a></li>
                        </ul>*@
                </div>
            </div>
            <div class="col-md-3">
                <div class="col col-social-icons">
                    <h4>Follow us</h4>
                    @*@{Html.RenderAction("SocialMedia", "Home");}*@
                </div>
            </div>

            @*<div class="col-md-3">
                <div class="col">
                    <h4>About us</h4>
                    <p class="no-margin">
                        O PortugalBiz é uma rede de empresas e negócios, que permite a publicação anúncios de classificados... &nbsp;<a href="#">
                            View More
                        </a>
                        @*<br><br>
                            <a href="#" class="btn btn-block btn-base btn-icon fa-check"><span>Try it now</span></a>
            </p>
        </div>
    </div>*@
    </div>

    <hr>

    <div class="row">
        <div class="col-lg-12 copyright">
            2003-2015 © PortugalBiz. Todos Direitos Reservados
            <a href="#">Terms and conditions</a>
        </div>

    </div>
    </div>
</footer>