@model IEnumerable<MyOnlineClinic.Entity.ProvidedServicesService>
<div class="row">
    @{int count = 0; }
    @foreach (var image in Model)
    {
        if (image.ShowIcon == true)
        {
            if(count<6)
            { 
                
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="client">
                    <a href="@image.Url" target="_blank">
                        <img src="@image.ServiceIcon" alt="@image.ServiceName">
                    </a>
                </div>
            </div>
                count = count + 1;
            }
            else
            {
                <br />
                count = 0; 
            }
        }
    }
</div>