<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Myonlineclinic</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/slimmenu.css" rel="stylesheet" />
    <link href="/css/flexslider.css" rel="stylesheet" />
    <link href="/css/owl.carousel.min.css" type="text/css" rel="stylesheet" />
    <link href="/css/owl.theme.default.min.css" type="text/css" rel="stylesheet" />
    <link href="/fonts/css/font-awesome.css" type="text/css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600,700' rel='stylesheet' type='text/css'>
    @*@Styles.Render("~/css")
    @Styles.Render("~/css/fonts/css")
    @Scripts.Render("~/js")*@
</head>
<body>
    @RenderBody()
    <script src="/js/include_script.js"></script>
</body>
</html>
