@{
    ViewBag.Title = "Activate";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="clearfix"></div>
<div class="loginarea">
    <div class="container">
        <div class="row">
            <div class="innerbody_area login_bg">
                <div class="col-sm-6">
                    <p>We are checking your profile and we have sent email to your registered email.</p>
                    <p>Please check your email and login using provided password.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

