<div class="row">
    <div class="container">
        <div class="col-md-8">
            <div class="coldata">
                @{Html.RenderAction("PageDetails", "Home", new { @sector = "Privacidade" });}
            </div>
        </div>
        <div class="col-md-4">
            @{Html.RenderAction("Banner", "Home");}

        </div>
    </div>
</div>