
@{
    ViewBag.Title = "Unauthorized";
    
}

<div class="container">
    <div class="row">
        <div class="topcat_area">
            <div class="col-sm-12">
                <div data-effect="slide-left">
                    <div class="text_cta">                        
                        <div class="text_cta">
                            <div class="alert alert-danger">Your are not authorized to access the area</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
